<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/contact/style.css">
    </head>
    <body>
        <div class="body-container">

            <div class="panel" id="a">
                <button class="panel-interior">
                    <img src="../static/contact/linkedin.png">
                    <p>Linkedin</p>
                </button>
            </div>

            <div class="panel" id="b">
                <button class="panel-interior">
                    <img src="../static/contact/portfolio.png">
                    <p>Portfolio</p>
                </button>
            </div>

            <div class="panel" id="c">
                <button class="panel-interior">
                    <img src="../static/contact/github.png">
                    <p>Github</p>
                </button>
            </div>

            <div id="back-button">
                <button>Back</button>
            </div>
        </div>

    <script src="../static/contact/script.js"></script>
    </body>
</html>