<!DOCTYPE html>
<html>
    <head>
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'solar/style_desktop.css' %}" type="text/css" media="(min-width: 901px)">
        {% load static %}
        <link rel="stylesheet" href="{% static 'solar/style_mobile.css' %}" type="text/css" media="(max-width: 900px)">
    </head>
    <body>
        {% csrf_token %}

        <!-- Header -->
        <div id="hd-panel">
            <div class="horiz-spread" id="hd-cont">
                <div id="hd-brand">
                    <p>Ecozo</p>
                </div>
                <div id="hd-title">
                    <p>Solar Power</p>
                </div>
                <button class="button" id="hd-button">Back</button>
            </div>
        </div>


        <!-- Location Panel -->
        <div class="body-panel" id="lc-panel">
            <div class="panel-content">
                <div class="center-content left-cont" id="lc-left-cont">
                    <button onclick="submitPosition()" class="button body-button" id="lc-button">Get Location</button>
                </div>
                <div class="right-cont" id="lc-right-cont">
                    <div class="center-content" id="lc-status">
                        <p>Enter city and state</p>
                    </div>
                    <div class="location-entry">
                        <input type="text" class="lc-textedit" id="city-input" placeholder="City" value="{{ location.city }}">
                        <input type="text" class="lc-textedit" id="state-input"  placeholder="State" value="{{ location.state }}">
                        <input type="text" class="lc-textedit" id="zipcode-input"  placeholder="Zip" value="{{ location.zipcode }}">
                    </div>
                    <p id="loc-or-text">Or</p>
                    <div class="location-entry">
                         <input type="text" class="lc-textedit" id="lat-input" placeholder="Latitude" value="{{ location.latitude }}">
                         <input type="text" class="lc-textedit" id="lon-input" placeholder="Longitude" value="{{ location.longitude }}">
                    </div>
                </div>
            </div>
            <div class="panel-label" id="lc-label">
                <p class="panel-label-text">Location</p>
            </div>
        </div>
        
        <div class="body-panel" id="sp-panel">
             <div class="panel-content">
                <div class="center-content left-cont" id="sp-left-cont">
                    <button class="button body-button" id="sp-button" onclick="submitSolarPanel()">How much power?</button>
                </div>
                <div class="right-cont" id="sp-right-cont">
                    <div class="vert-spread" id="sp-form">
                        <div class="center-content sp-textedit-cont">
                            <p class="sp-textedit-label">Area:</p>
                            <input type="text" class="sp-textedit" id="area-input" value="{{ solar_panel.area }}">
                        </div>
                        <div class="center-content sp-textedit-cont">
                            <p class="sp-textedit-label">Efficiency:</p>
                            <input type="text" class="sp-textedit" id="efficiency-input" value="{{ solar_panel.efficiency }}">
                        </div>
                        <div class="center-content sp-textedit-cont">
                            <p class="sp-textedit-label">Perf Ratio:</p>
                            <input type="text" class="sp-textedit" id="pr-input" value="{{ solar_panel.pr }}">
                        </div>
                        <div class="center-content sp-textedit-cont">
                            <p class="sp-textedit-label">Capacity:</p>
                            <input type="text" class="sp-textedit" id="capacity-input" value="{{ solar_panel.capacity }}">
                        </div>
                    </div>
                </div>
             </div>
            <div class="panel-label" id="sp-label">
                <p class="panel-label-text">Solar Panel</p>
            </div>
        </div>
        
        <div class="body-panel" id="pw-panel">
            <div class="panel-content" id="pw-main-cont">
                <div class="horiz-spread" id="pw-results">
                    <div class="vert-spread pw-res-item">
                        <p class="pw-res-item-text">Hour</p>
                        <p class="pw-res-item-text">{{ solar_power.hour }}</p>
                    </div>
                    <div class="vert-spread pw-res-item">
                        <p class="pw-res-item-text">Day</p>
                        <p class="pw-res-item-text">{{ solar_power.day }}</p>
                    </div>
                    <div class="vert-spread pw-res-item">
                        <p class="pw-res-item-text">5 Days</p>
                        <p class="pw-res-item-text">{{ solar_power.five_days }}</p>
                    </div>
                    <div class="vert-spread pw-res-item">
                        <p class="pw-res-item-text">Month</p>
                        <p class="pw-res-item-text">{{ solar_power.month }}</p>
                    </div>
                    <div class="vert-spread pw-res-item">
                        <p class="pw-res-item-text">Year</p>
                        <p class="pw-res-item-text">{{ solar_power.year }}</p>
                    </div>
                </div>
                <div id="pw-units">
                    All units in kilowatt-hours (kWh)
                </div>
            </div>

            <div class="panel-label" id="pw-label">
                <p class="panel-label-text">Power Generated</p>
            </div>
        </div>

        <div class="center-content" id="ft-panel">
            <p id="footer-text">Created by Jason Pittman</p>
        </div>

        {% load static %}
        <script src="{% static 'solar/script.js' %}" type="text/javascript"></script>
    </body>
</html>