/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap'); /*USAGE: font-family: 'Julius Sans One', sans-serif;*/

body {
    /* Remove Outermost Padding*/
    margin: 0;
    padding: 0;

    /* Webpage font */
    font-family: 'Julius Sans One', sans-serif;
    color: white;
}

/* General Page Classes */

.body-panel {
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.panel-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    order: 2;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.horiz-spread {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vert-spread {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.panel-label {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
}

.left-cont {
    width: 100%;
    height: 40%;
    order: 2;
}

.right-cont {
    width: 100%;
    height: 60%;
    display: flex;
    box-sizing: border-box;
    padding: 0% 3%;
}

.button {
    font-family: 'Julius Sans One', sans-serif;
    border: none;
}

.body-button {
    height: 150px;
    width: 75%;
    font-size: 5vw;
}


/* Header Specific Styling */

#hd-panel {
    height: 100px;
    background-color: #5C8984;
}

#hd-cont {
    margin: 0%3%;
    height: 100%;
    font-size: 32px;
    display: flex;
    justify-content: space-between;
}

#hd-button {
    height: 60px;
    width: 150px;
    font-size: 32px;
    background-color: #7FA7A2;
    border-radius: 100%;
    color: white;
}

#hd-brand { display: none; }

/* Location Specific Styling */

#lc-left-cont {
    height: 35%;
}

#lc-right-cont {
    display: flex;
    flex-direction: column;
    height: 65%;
}

#lc-panel {
    background-color: #F2D8D8;
    height: 90vh;
}

#lc-button {
    background: #545B77;
    color: white;
}

.location-entry {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.location-entry:first-child {
    height: 60%;
}

.location-entry:last-child {
    height: 40%;
}

.lc-textedit {
    background-color: #F2D8D8;
    border: none;
    outline: none;
    color: black;
    border-bottom: 2px solid black;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 24px;
    box-sizing: border-box;
    width: 60%;
}

.lc-textedit::placeholder {
    color: black;
}

#loc-or-text {
    text-align: center;
    color: black;
    font-size: 24px;
    margin: 0;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lc-textedit-cont {
    height: 32%;
}

.lc-textedit-cont:last-child {
    margin-bottom: 2%;
}

#lc-status {
    color: black;
    font-size: 24px;
    text-align: center;
    margin-top: 2%;
    height: 25%;
}


.lc-content {
    color: black;
    font-size: 4vw;
    text-align: center;
    box-sizing: border-box;
    padding: 5% 0;
}

#lc-labels { width: 40%; }

#lc-values { width: 60%; }

#lc-label { background: #545B77; }

/* Solar Panel Specific Styling */


#sp-panel {
    background-color: #545B77;
    height: 75vh;
}

#sp-left-cont {
    height: 50%;
}

#sp-right-cont {
    height: 50%;
}

#sp-button {
    background: #5C8984;
    color: black;
    margin-bottom: 10%;
}

#sp-form {
    width: 100%;
    margin: 3% 0%;
}

.sp-textedit-cont {
    width: 100%;
    height: 20%;
    background-color: #374259;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0% 5%;
}

.sp-textedit-label {
    text-align: left;
    font-size: 20px;
    white-space: nowrap;
}

.sp-textedit {
    height: 100%;
    width: 100%;
    background-color: #374259;
    box-sizing: border-box;
    margin-left: 3%;

    border: 0;
    outline: none;

    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px;
    color: white;
}

#sp-label {
    background: #5C8984;
    color: black;
}

/* Power Specific Styling */

#pw-panel {
    background-color: #374259;
}

#pw-main-cont {
    padding: 5% 0 0 0;
    box-sizing: border-box;
}

.horiz-spread {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pw-res-item {
    flex-basis: 50%;
}

.pw-res-item-text {
    text-align: center;
    font-size: 2.5vh;
}

#pw-units {
    height: 20%;
    text-align: center;
}

#pw-label {
    background: #F2D8D8;
    color: black;
}

/* Footer Specific Styling */

#ft-panel {
    height: 220px;
    background-color: #5C8984;
}

#footer-text {
    margin: 0;
    font-size: 4vw;
}